header {
    position: sticky;
    top: 0;
}

nav {
    margin: -1em;
    padding-top: 1em;
    padding-bottom: 0.2em;
    background-color: rgb(255, 255, 255);
}

header nav ul {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

header nav ul li:nth-of-type(1) {
    margin-left: -1em;
    flex-grow: 0.5;
}

header nav ul li:nth-of-type(2) img {
    width: 7em;
}

header nav ul li:nth-of-type(3) img {
    width: 1.6em;
}

header nav ul li:nth-of-type(4) img {
    width: 1.6em;
}

header nav ul li:nth-of-type(5) {
    flex-grow: 0.15;
}

header nav ul li:nth-of-type(5) img {
    width: 1.6em;
}

main section {
    margin-top: 2em;
    margin-left: 0.5em;
    margin-right: -0.2em;
    margin-bottom: -1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/WeekdayHomeIMG1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 40em;
}

main section:nth-of-type(2) {
    background-image: url("../images/WeekdayHomeIMG2.gif");
}

main section:nth-of-type(3) {
    background-image: url("../images/WeekdayHomeIMG3.gif");
}

main section:nth-of-type(4) {
    background-image: url("../images/WeekdayHomeIMG4.gif");
}

main section:nth-of-type(5) {
    background-image: url("../images/WeekdayHomeIMG5.gif");
    height: 20em;
}

main section:nth-of-type(6) {
    background-image: url("../images/WeekdayHomepageStoreview.webp");
    height: 25em;
    align-items: center;
    justify-content: center;
}

main section h1 {
    color: white;
    letter-spacing: .56px;
    text-align: center;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 3em;
}

main section p {
    letter-spacing: .8px;
    font-family: neue-haas-grotesk-roman, sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: -2em;
    margin-right: 2em;
    margin-left: 2em;
}

main section h2 {
    color: white;
    letter-spacing: .56px;
    text-align: center;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 1.25em;
    margin-left: 1em;
    margin-right: 1em;
}

main section button {
    height: 3.2em;
    width: 13.5em;
    letter-spacing: .56px;
    background-color: black;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 2em;
    border-style: none;
}

main section button:nth-of-type(2) {
    height: 3.2em;
    width: 11.8em;
}

footer {
    background-color: rgba(0, 0, 0, .05);
}

footer section:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 1em 1em 1em;
}

footer section h3:first-of-type {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    letter-spacing: .56px;
    font-size: 0.8em;
    text-align: center;
}

footer section p {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    letter-spacing: .56px;
    text-align: center;
    font-size: 0.8em;
    margin-top: -0.5em;
}

footer section button {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    letter-spacing: .56px;
    text-align: center;
    font-size: 0.8em;
    width: 22em;
    height: 3.5em;
    border: 2px;
    border-color: black;
    border-style: solid;
}

footer nav {
    display: flex;
    flex-direction: column;
}

footer nav div {
    text-align: center;
}

footer nav div h3 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    letter-spacing: .56px;
    font-size: 0.9em;
}

footer nav div ul {
    list-style-type: none;
    padding: 0%;
}

footer nav div ul li a {
    text-decoration: none;
}

footer nav div ul li a p {
    font-family: neue-haas-grotesk-roman, sans-serif;
    font-weight: 700;
    letter-spacing: .56px;
    font-size: 0.8em;
    color: black;
}